---
import {
  BriefcaseBusinessIcon,
  GraduationCapIcon,
  LightbulbIcon,
  SquareArrowOutUpRightIcon,
} from "lucide-react";
import Layout from "../layouts/Layout.astro";

const jobs = [
  {
    from: "2023",
    to: "Today",
    title: "FH Upper Austria",
    description: "Design of Digital Products",
    type: "education",
    url: "https://fh-ooe.at/studienangebot/design-of-digital-products-bachelor",
  },
  {
    from: "2020",
    to: "2024",
    title: "Hofer KG",
    description: "Fullstack Development",
    type: "job",
  },
  {
    from: "2014",
    to: "2019",
    title: "HTL Neufelden",
    description: "Business & Information Technology",
    type: "education",
    url: "https://www.htl-neufelden.at/ausbildung/betriebsinformatik/",
  },
];
---

<Layout title="Work - Lukas Gerhold">
  <section class="flex-1 grid grid-cols-[auto_1fr] py-4 md:py-12">
    <svg
      class="w-8 h-full"
      viewBox="0 0 32 850"
      preserveAspectRatio="xMidYMin slice"
    >
      <defs>
        <linearGradient id="fadeOut" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" stop-color="#d1d5db" stop-opacity="1"></stop>
          <stop offset="80%" stop-color="#d1d5db" stop-opacity="1"></stop>
          <stop offset="100%" stop-color="#d1d5db" stop-opacity="0"></stop>
        </linearGradient>
      </defs>
      <circle
        cx="16"
        cy="16"
        r="6"
        fill="transparent"
        stroke="#d1d5db"
        stroke-width="2"></circle>
      <path d="M15 22L15 850 17 850 17 22z" fill="url(#fadeOut)"></path>
    </svg>
    <div class="py-12 flex flex-col gap-24 -ms-4">
      {
        jobs.map((job, index) => (
          <div class="flex flex-row items-center">
            <svg class="h-1/2 w-7" viewBox="0 0 28 28">
              <path
                d="M0 0 A 14 14 0 0 0 14 14 L 28 14"
                stroke="#d1d5db"
                stroke-width="2"
                fill="none"
                class="draw-path"
                style={`animation-delay: ${index * 0.2 + 1.5}s`}
              />
            </svg>
            <div
              class="animate-fade-in-up flex flex-row items-center"
              style={`animation-delay: ${index * 0.2 + 0.8}s;`}
            >
              <div class="rounded-full p-4 border-gray-300 border-2 me-8">
                {job.type === "job" ? (
                  <BriefcaseBusinessIcon size={20} />
                ) : (
                  <GraduationCapIcon size={20} />
                )}
              </div>

              <div class="flex-1 flex flex-col gap-2 items-baseline">
                {job.url ? (
                  <a
                    href={job.url}
                    class="font-semibold hover:text-primary inline-flex flex-row items-center gap-2"
                  >
                    {job.title}

                    <SquareArrowOutUpRightIcon size={12} />
                  </a>
                ) : (
                  <span class="font-semibold">{job.title}</span>
                )}
                <p class="text-gray-600">{job.description}</p>
                <span class="text-sm text-gray-500">
                  {job.from} - {job.to}
                </span>
              </div>
            </div>
          </div>
        ))
      }

      <div class="flex flex-row items-center">
        <svg class="h-1/2 w-7" viewBox="0 0 28 28">
          <path
            d="M0 0 A 14 14 0 0 0 14 14 L 28 14"
            stroke="#d1d5db"
            stroke-width="2"
            fill="none"
            class="draw-path"
            style={`animation-delay: ${jobs.length * 0.2 + 1.5}s`}></path>
        </svg>
        <div class="flex-1">
          <div
            class="animate-fade-in-up flex flex-row items-center"
            style={{ animationDelay: `${jobs.length * 0.2 + 1}s;` }}
          >
            <div
              class="rounded-full size-14 grid place-items-center border-gray-300 border-2 me-8 glow-animate"
              style={{ animationDelay: `${jobs.length * 0.2 + 2}s` }}
            >
              <LightbulbIcon size={24} />
            </div>

            <div class="flex flex-col gap-1 text-gray-600">
              <span>Do you have an idea and want to expand that list? </span>
              <a
                href="mailto:lukger1999@gmail.com?subject=Hey,%20what's%20up?"
                class="text-primary font-bold inline-flex flex-row items-center gap-2 underline"
              >
                Hit me up
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  @keyframes drawPath {
    from {
      stroke-dashoffset: 56;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  .draw-path {
    stroke-dasharray: 56;
    stroke-dashoffset: 56;
    animation: drawPath 1s ease-out forwards;
  }

  @keyframes glowEffect {
    0% {
      border-color: #d1d5db;
      box-shadow: none;
      color: inherit;
    }
    100% {
      border-color: #facc15;
      box-shadow: 0 0 15px rgba(250, 204, 21, 0.4);
      color: #facc15;
    }
  }

  .glow-animate {
    animation: glowEffect 0.2s ease-out forwards;
  }
</style>
